doctype html
html
    head
        title ARREDO
        link(
            rel="stylesheet"
            href="css/style.css"
            )
    body 
        #container
            .visited
                h3 Você visitou:
                .item
                    .image
                        img(
                            src="images/banquinho_laminado.jpg"
                        )
                    p Banquinho Laminado
                    h3 $699
            .suggestions
                h3 Talvez se interesse por:
                .itens
                    .item
                        .image
                            img(
                                src="images/cadeira_bambu.jpg"
                            )
                        p Cadeira de Bambu
                        h3 $2.999
                    .item
                        .image
                            img(
                                src="images/banco_redondo_detecido.jpg"
                            )
                        p Banquinho Redondo de Tecido
                        h3 $1.999
                    .item
                        .image
                            img(
                                src="images/banco_retangular_bambu.jpg"
                            )
                        p Banco Retangular Bambu
                        h3 $2.799
                    .item
                        .image
                            img(
                                src="images/organizador_bambu_poly.jpg"
                            )
                        p Organizador Bambu Poly
                        h3 $729

                

